.header-container {
    display: column;
    margin: 36px 0 36px 0
}

.header-name-container {
    margin-bottom: 24px;
}

.tabs-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

.mobile-tabs {
    flex-flow: column;
    text-align: center;
    border-bottom: 0;
}

#header-name {
    color: black;
    font-size: 44px;
    cursor: pointer;
}