.links-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.links-header-container {
    margin-bottom: 24px;
}

.link {
    margin-bottom: 12px;
    color: black;
}

.link a:visited {
    color: black;
}