.tab-item {
    margin: 0;
    border-bottom: 2px solid #d6d6d6;
    flex: 0 1 auto;
    color: 	#376595;
    font-size: 28px;
    text-decoration: none;
}

.tab-item:hover {
    border-bottom-color: #a6a6a6;
}

.tab-item-selected {
    border-bottom-color: #376595 !important;
}