.books-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: normal;
    margin-top: 24px;
}

@media (max-width: 768px) {
    .books-container {
        justify-content: space-evenly;
    }
}

.book {
    margin: 0 12px 12px 0px;
}

.book-image {
    width: 116px;
    height: 176px;
    opacity: 0.5;
}

.book-image:hover {
    opacity: .75;
}

.recommended-book {
    opacity: 1;
}