<div class="reading-container">

  <div class="reading-intro-container">

    <p class="gavin-tab-page-header">
      {{ heading | uppercase }}
    </p>

    <p class="no-margin line-height-expanded">

      {{readingInfo}}

    </p>

  </div>

  <div *ngIf="hasBooks()" class="books-container">

    <p *ngFor="let book of books" class="book-container no-margin light">

      <span [ngClass]="{'bold': book.recommend}">{{book.title}}</span><span> -
        {{book.author}}
      </span>

    </p>

  </div>

</div>