.books-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: normal;
    margin-top: 24px;
}

@media (max-width: 768px) {
    .books-container {
        justify-content: space-evenly;
    }
}

.book {
    margin: 0 6px 6px 0px;
}

.book-image {
    width: 100px;
    height: 150px;
}

.book-image:hover {
    opacity: .75;
}