.reading-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.reading-intro-container {
    margin-bottom: 24px;
}

.reading-intro {
    text-align: center;
    margin: 0;
}

.books-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.book-container {
    margin: 0 0 12px 0;
    text-align: center;
}

.book-title {
    font-style: italic;
}

.recommended-book {
    font-weight: bold;
    color: 	#376595;
}

/* .page-break-container {
    text-align: center;
    margin: 25px 0 25px 0;
} */