<div class="reading-container">

  <div class="reading-intro-container">

    <p class="gavin-tab-page-header">
      {{ heading | uppercase }}
    </p>

    <p class="reading-intro gavin-font-md no-margin">

      {{readingInfo}}

    </p>

  </div>

  <div *ngIf="hasBooks()" class="books-container">

    <div *ngFor="let book of books" class="book-container gavin-font-md">

      <span [ngClass]="{'recommended-book': book.recommend}" class="italic">{{book.title}}</span><span> -
        {{book.author}}
      </span>

    </div>

  </div>

</div>