.books-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 24px;
}

.book-image {
    width: 116px;
    height: 176px;
    margin-bottom: 24px;
    opacity: 0.5;
}

.book-image:hover {
    opacity: .75;
}

.recommended-book {
    opacity: 1;
}