.tab-item-container {
    padding: 12px 0 12px 0;
    cursor: pointer;
}

.mobile-tab-item-container {
    border-bottom: 1px solid #999;
}

.tab-item {
    color: #999;
    font-size: 16px;
    text-decoration: none;
}

.tab-item:hover {
    color: black;
}

.tab-item-selected {
    color: black !important;
}

.tab-item-contents-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.dropdown-caret {
    width: 16px;
    height: 16px;
    padding-left: 16px;
}