.about-me-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-me-container-child {
    margin-bottom: 25px;
}

.about-me-intro {
    text-align: center;
    margin: 0;
}

.education-image {
    height: 28px;
    max-width: 100%;
}

.about-me-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-me-caret {
    height: 14px;
    max-width: 100%;
}