<h2>{{ heading }}</h2>

<div class="clr-row">

  <div class="clr-col">

    <div class="card">

      <div class="card-header">
        {{ myName }}
      </div>

      <div class="card-block">

        <div class="card-media-block">

          <img src="assets/headshot.jpg" class="card-media-image">

          <div class="card-media-description">
            <span class="card-media-title">
              Software Engineer
            </span>
            <span class="card-media-text">
              Dallas, TX
            </span>
          </div>

        </div>

        <p *ngFor="let description of descriptions" class="card-text">{{ description }}</p>

      </div>

    </div>

  </div>

  <div class="clr-col-12 clr-col-sm-auto">

    <div class="card">

      <div class="card-header">
        Connect With Me
      </div>

      <ul class="list-group list-group-flush">

        <a *ngFor="let social of socialLinks" href="{{ social.url }}" class="social-link" target="_blank">

          <li class="list-group-item">

            <img class="social-image" src="{{ social.imageUrl }}">{{ social.name }}

          </li>

        </a>

      </ul>

    </div>

  </div>

</div>