<div class="about-me-container">

  <h2>About Me</h2>

  <div class="about-me-image-container">

    <img id="about-me-headshot" src="assets/headshot.jpg">

  </div>

  <div class="about-me-social-links-container">

    <div *ngFor="let social of socialLinks" class="social-link-container">

      <a href="{{ social.url }}" target="_blank">

        <img class="social-image" src="{{ social.imageUrl }}">

      </a>

    </div>

  </div>

  <p class="description">

    {{ description }}

  </p>

</div>