.app-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.app-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
}

/* For small screens adjust the header items */
@media all and (max-width: 500px) {
    .app-wrapper {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 95%;
                flex: 0 1 95%;
    }
}