.app-container {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}