.app-container {
    display: flex;
    justify-content: center;
}

.app-wrapper {
    flex: 0 1 50%;
}

/* For small screens adjust the header items */
@media all and (max-width: 500px) {
    .app-wrapper {
        flex: 0 1 75%;
    }
}

.header-name-container {
    display: flex;
    justify-content: left;
    margin: 24px 0 24px 0;
}

#header-name {
    color: black;
    font-size: 44px;
    font-weight: bold;
}