.app-container {
    display: flex;
    justify-content: center;
}

.app-wrapper {
    flex: 0 1 50%;
}

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 24px;
}

/* For small screens adjust the header items */
@media all and (max-width: 500px) {
    .app-wrapper {
        flex: 0 1 95%;
    }
}

.header-name-container {
    display: flex;
    justify-content: center;
    margin: 24px 0 24px 0;
}

.header-item {
    margin: 0;
    border-bottom: 2px solid #d6d6d6;
    flex: 0 1 auto;
}

.header-item:hover {
    border-bottom-color: #a6a6a6;
}

.header-item {
    color: 	#376595;
    font-size: 28px;
    text-decoration: none;
}

.header-item-selected {
    border-bottom-color: #376595 !important;
}

#header-name {
    color: 	#376595;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
}