.app-container {
    display: flex;
    justify-content: center;
}

.app-wrapper {
    flex: 0 1 65%;
}

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 24px;
}

/* For small screens adjust the header items */
@media all and (max-width: 500px) {
    .header-container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

.header-name-container {
    display: flex;
    justify-content: center;
    margin: 24px 0 24px 0;
}

.header-item {
    margin: 0 10px 0 10px;
}

.header-item a {
    color: 	#376595;
    font-size: 28px;
}

#header-name {
    color: 	#376595;
    font-size: 44px;
    font-weight: bold;
}