.app-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.app-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 85%;
            flex: 0 1 85%;
}

/* For small screens adjust the header items */
@media all and (max-width: 500px) {
    .app-wrapper {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 95%;
                flex: 0 1 95%;
    }
}

.header-name-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin: 24px 0 24px 0;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#header-name {
    color: black;
    font-size: 44px;
    cursor: pointer;
}

#dropdown-menu-button {
    width: 24px;
    height: auto;
}