<div class="app-container">

  <div class="app-wrapper">

    <div class="header-name-container">

      <span id="header-name">{{ myName }}</span>

    </div>

    <div class="header-container">

      <a class="header-item" routerLinkActive="header-item-selected" routerLink="home">Home</a>

      <a class="header-item" routerLinkActive="header-item-selected" routerLink="me">About</a>

      <a class="header-item" routerLinkActive="header-item-selected" routerLink="me">Resume</a>

      <a class="header-item" routerLinkActive="header-item-selected" routerLink="bookshelf">Bookshelf</a>

    </div>

    <router-outlet></router-outlet>

  </div>

</div>