<div class="app-container">

  <div class="app-wrapper">

    <div class="header-name-container">

      <div id="header-name" class="bold">
        {{ myName }}
      </div>

      <div (click)="toggleDropdown()" *ngIf="mobile">
        <img id="dropdown-menu-button" src="/assets/menu-button.svg">
      </div>

    </div>

    <gavin-tabs *ngIf="!mobile"></gavin-tabs>

    <gavin-tabs-dropdown *ngIf="mobile" [expandDropdown]="dropdownExpanded" (tabClicked)="onTabClicked($event)"></gavin-tabs-dropdown>

    <router-outlet></router-outlet>

    <gavin-footer></gavin-footer>

  </div>

</div>