<div class="resume-container">

  <div class="resume-work-wrapper">

    <div class="resume-work-container">

      <gavin-work *ngFor="let work of workHistory" [work]="work"></gavin-work>

    </div>

  </div>

  <div class="resume-other-wrapper">

    <div class="resume-other-container">

      <div>

        <h1 class="resume-other-heading">EDUCATION</h1>
        <gavin-education *ngFor="let education of educationHistory" [education]="education"></gavin-education>

      </div>

      <div>

        <h1 class="resume-other-heading">EVERYDAY SKILLS</h1>
        <gavin-skills [skills]="mainSkills"></gavin-skills>

      </div>

      <div>

        <h1 class="resume-other-heading">FAMILIAR WITH</h1>
        <gavin-skills [skills]="otherSkills"></gavin-skills>

      </div>

    </div>

  </div>

</div>