<div class="resume-container">

  <div class="resume-content-container">

    <div class="gavin-tab-page-subheading resume-header">Work Experience</div>

    <div class="resume-content-wrapper">

      <gavin-work *ngFor="let work of workHistory" [work]="work"></gavin-work>

    </div>

  </div>

  <div class="resume-content-container">

    <div class="gavin-tab-page-subheading resume-header">Education</div>

    <div class="resume-content-wrapper">

      <gavin-education *ngFor="let education of educationHistory" [education]="education"></gavin-education>

    </div>

  </div>

  <div class="resume-content-container">

    <div class="gavin-tab-page-subheading resume-header">Skills</div>

    <div class="resume-content-wrapper">

      <gavin-skills [mainSkills]="mainSkills" [otherSkills]="otherSkills"></gavin-skills>

    </div>

  </div>

</div>