<div class="resume-container">

  <div class="resume-work-wrapper">

    <div class="resume-work-container">

      <gavin-work *ngFor="let work of workHistory" [work]="work"></gavin-work>

    </div>

  </div>

  <div class="resume-other-wrapper">

    <div class="resume-other-container">

      <div>

        <p class="bold resume-other-heading underline">EDUCATION</p>
        <gavin-education *ngFor="let education of educationHistory" [education]="education"></gavin-education>

      </div>

      <div>

        <p class="bold resume-other-heading underline">EVERYDAY SKILLS</p>
        <gavin-skills [skills]="mainSkills"></gavin-skills>

      </div>

      <div>

        <p class="bold resume-other-heading underline">FAMILIAR WITH</p>
        <gavin-skills [skills]="otherSkills"></gavin-skills>

      </div>

    </div>

  </div>

</div>