/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Cormorant', serif;
}

.gavin-font-sm {
    font-size: 12px;
}

.gavin-font-md {
    font-size: 14px;
}

.gavin-font-lg {
    font-size: 20px;
}

.gavin-tab-page-header {
    font-size: 24px;
    margin: 0 0 24px 0;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.no-margin {
    margin: 0;
}
