/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Cormorant', serif;
}

.gavin-font-sm {
    font-size: 12px;
}

.gavin-font-md {
    font-size: 16px;
}

.gavin-font-lg {
    font-size: 20px;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}
