/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Cormorant', serif;
}

.gavin-font-sm {
    font-size: 12px;
}

.gavin-font-md {
    font-size: 14px;
}

.gavin-font-lg {
    font-size: 18px;
}

.gavin-tab-page-header {
    font-size: 24px;
    margin: 0 0 24px 0;
    border-bottom: 1px solid #ece7e7;
}

.gavin-tab-page-subheading {
    font-size: 20px;
    margin: 0 0 36px 0;
    color: black;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}

.no-margin {
    margin: 0;
}

.line-height-expanded {
    line-height: 1.5em;
}
