.education-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    text-align: center;
    align-items: center;
}

.education-top-container {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.education-image-container {
    margin-right: 12px;
}

.education-details-container p {
    margin: 0;
}