.home-component {
    display: flex;
    flex-direction: column;
}

.home-image-container {
    display: flex;
    justify-content: center;
}

#home-image {
    border-radius: 1%;
    height: 100%;
    width: 100%;
}