.home-container {
    display: flex;
    flex-direction: column;
}

.home-image-container {
    display: flex;
    justify-content: center;
}

#home-image {
    height: 100%;
    width: 100%;
    max-width: 375px;
    max-height: 375px;
}