<!-- <div class="clr-row clr-justify-content-center clr-align-items-center home">

    <div class="clr-col-auto">

        <img id="home-image" src="../../assets/coffee.gif">

    </div>

    <div class="clr-col-auto">
        <h1 style="font-size:64px;">Gavin</h1>
        <h1 style="font-size:64px;">Bedell</h1>
    </div>

</div> -->

<div class="container home">

    <div class="item">
        <img id="home-image" src="../../assets/coffee.gif">
    </div>

    <div class="item">
        <h1 style="font-size:64px;">Gavin</h1>
        <h1 style="font-size:64px;">Bedell</h1>
    </div>

</div>