.home-component {
    display: flex;
    flex-direction: column;
}

.headshot-container {
    display: flex;
    justify-content: center;
}

.social-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 75px;
}

.social-icon {
    display: flex;
    justify-content: center;
}

.social-icon-image {
    height: 34px;
    max-width: 100%;
}

.social-icon-image:hover {
    cursor: pointer;
}

#headshot {
    border-radius: 50%;
    height: 200px;
    max-width: 100%;
}